<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.ingenuitymobile.edwardlynx"
          xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="android.permission.INTERNET"/>

  <application
      android:name=".MainApplication"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
    <activity android:name=".activities.SplashActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
        android:name=".activities.LoginActivity"
        android:screenOrientation="portrait"/>
    <activity
        android:name=".activities.ForgotPasswordActivity"
        android:screenOrientation="portrait"/>
    <activity
        android:name=".activities.MainActivity"
        android:label="@string/dashboard"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.NoActionBar"/>
    <activity
        android:name=".activities.ProfileActivity"
        android:label="@string/title_activity_profile"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">
    </activity>
    <activity
        android:name=".activities.ChangePasswordActivity"
        android:label="@string/title_activity_change_password"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">
    </activity>
    <activity
        android:name=".activities.SurveyQuestionsActivity"
        android:label="Survey Questions"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">
    </activity>
    <activity
        android:name=".activities.CreateFeedbackActivity"
        android:label="Create Feedback"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">
    </activity>
    <activity
        android:name=".activities.InviteActivity"
        android:label="Invite"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">
    </activity>
    <activity
        android:name=".activities.FeedbackRequestsActivity"
        android:label="Instant Feedback Requests"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">
    </activity>
    <activity
        android:name=".activities.ReportsActivity"
        android:label="Reports"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">
    </activity>
    <activity
        android:name=".activities.AnswerFeedbackActivity"
        android:label="Instant Feedback Question"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">
    </activity>

    <meta-data
        android:name="io.fabric.ApiKey"
        android:value="7c67a5365060930052205dfdf95102678ef19047"/>
  </application>

</manifest>